/* Header styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303030;
    padding: 20px;
    height: 70px;
  }
  
  header h1 {
    font-size: 28px;
    margin: 0;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  header nav ul li {
    margin-right: 20px;
  }
  
  header nav ul li:last-child {
    margin-right: 0;
  }
  
  header nav ul li a {
    font-size: 18px;
  }
  
  /* Add login and create account links to header */
  header .user-links {
    display: flex;
    align-items: center;
  }
  
  header .user-links a {
    font-size: 18px;
    margin-left: 20px;
  }
  
  header .user-links a:first-child {
    margin-left: 0;
    font-weight: bold;
  }
  