<form>
	<p>
		<label>Username (more than 3 alphanumeric characters)
			<input type="text" name="username" required minlength="3" [(ngModel)]="username" />
		</label>
	</p>
	<p *ngIf="usernameError">{{usernameError}}</p>
	<p>
		<label>Password
			<input type="password" name="password" required minlength="8" [(ngModel)]="password" />
		</label>
	</p>
	<p *ngIf="passwordError">{{passwordError}}</p>
	<ul>
		<li>At least 8 characters</li>
		<li>At least 1 uppercase</li>
		<li>At least 1 lowercase</li>
		<li>At least 1 number</li>
	</ul>
	<p *ngIf="formError">{{formError}}</p>
	<button type="button" (click)="createAccount()">Create account</button>
</form>
