@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global Styles */

/* Set font family and size */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  /* Set background and text color */
  body {
    background-color: #202020;
    color: #ffffff;
  }
  
  /* Add box-sizing: border-box to all elements */
  * {
    box-sizing: border-box;
  }
  
  /* Style for links */
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  a:hover {
    color: #dcdcdc;
    text-decoration: underline;
  }
  
  /* Header styles */
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303030;
    padding: 20px;
    height: 70px;
  }
  
  header h1 {
    font-size: 28px;
    margin: 0;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  header nav ul li {
    margin-right: 20px;
  }
  
  header nav ul li:last-child {
    margin-right: 0;
  }
  
  header nav ul li a {
    font-size: 18px;
  }
  
  /* Main content styles */
  
  main {
    padding: 20px;
  }
  
  /* Footer styles */
  
  footer {
    background-color: #303030;
    padding: 20px;
    color: #ffffff;
    text-align: center;
  }
  